/* *
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* In Css tutto è compreso in una scatola, ogni tag potenzialmente è una scatola */
/* La scatola è composta da della parti (dall'ispector del browser si vedono molto bene) */

.box {
    width: 200px;
    height: 100px;
    background: lightblue;
    border: 10px solid red;
    padding: 30px;
    margin: 50px;
    font-size: small;
    border-left: 10px dotted violet;
}

.border_box {
    width: 200px;
    height: 100px;
    background: lightblue;
    border: 10px solid red;
    padding: 30px;
    margin: 50px;
    font-size: small;
    box-sizing: border-box;
}