/* h1 {
  color: violet;
  background-color: aqua;
}

.pippo {
    color: blanchedalmond;
    font-weight: normal;
    font-size: 10px;
}

#sito_con_luigi {
    color: blueviolet;
}

body {

    color: chocolate;
} */







